<h1>Admin#show</h1>
<div id="user_nav">
  <% if current_admin = @admin.id%>
    Logged in as <%= @admin.email %>.
    <%= link_to "Log out", log_out_path %>
    <%= link_to 'New project', new_project_path %>
  <% else %>
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
